/* @import "reset.css"; */
#title{
text-align: center;
border-bottom: 2px solid gray;
margin-bottom: 0px;
}
#untitle{
    border-right: 2px solid gray;
    width: 120px;
    display: grid;
    grid-template-columns: 120px 1fr;
    }
#untitle ol{
    margin-top: 0px;
    width: 80px;
}
#contents{
    padding: 20px;
    width: 800px
}
#contents ol{
    width: 150px;
}
h2{
}